/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.portfolio-item {
	position: relative;
	-webkit-transform-perspective: 800;
	transition: 2s;
	-webkit-transform-style: preserve-3d;
	/*-webkit-transform: rotateY(180deg);*/
}

.portfolio-item:hover .front {
	/*position: absolute;*/
	-webkit-transform: rotateY(180deg);
}

.front {
	position: absolute;
	/*z-index: 900;*/
	-webkit-backface-visibility: hidden;
}

.front:hover {
	/*opacity: 0;*/
	/*transition: opacity .5s;*/
	/*transform: rotateY(180deg);*/
}

.back {
	/*z-index: 0;*/
	/*-webkit-backface-visibility: hidden;*/
	/*transform: rotateY(-180deg);*/
}
